<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/contact.css">
    <title>Document</title>
</head>
<body class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <nav>
                <a href="/" class="mx-5">Home</a>
                <a href="/projects" class="mx-5">Projects</a>
                <a href="/contact" class="mx-5">Contact</a>
            </nav>
        </div>
    </div>
    <h3 class="my-3 text-center">Contact Me!</h3>
    <div class="row">
        <div class="col"></div>
        <div class="col-8">
            <div class="contact_form row form-control">
                <div class="col text-center">
                    <label>Name</label><br>
                    <input type="text"><br>
                    <label>Email</label><br>
                    <input type="text"><br>
                    <label>Message</label><br>
                    <textarea name="message" id="message" cols="30" rows="5"></textarea><br>
                    <button class="btn btn-primary">Send</button>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</body>
</html>