<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/projects.css">
    <title>Document</title>
</head>
<body class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <nav>
                <a href="/" class="mx-5">Home</a>
                <a href="/projects" class="mx-5">Projects</a>
                <a href="/contact" class="mx-5">Contact</a>
            </nav>
        </div>
    </div>
    <h3 class="text-center my-3">Here are some projects of mine!</h3>
    <div class="row">
        <div class="col"></div>
        <div class="col-8">
            <div class="projects container-fluid">
                <div class="row">
                    <div class="col-3">
                        <img class="project_img" src="~/img/naruto.png" alt="project image">
                    </div>
                    <div class="col">
                        <h6>Title 1</h6>
                        <p>asjkfh asdgjk hasdfgjklh dsfh asdkljfhd gjkaslhgjk ashdfjklsdhasjkldfh dsakjldghsdkj hsadkfjhsdfklj</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <img class="project_img" src="~/img/naruto.png" alt="project image">
                    </div>
                    <div class="col">
                        <h6>Title 2</h6>
                        <p>asjkfh asdgjk hasdfgjklh dsfh asdkljfhd gjkaslhgjk ashdfjklsdhasjkldfh dsakjldghsdkj hsadkfjhsdfklj</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <img class="project_img" src="~/img/naruto.png" alt="project image">
                    </div>
                    <div class="col">
                        <h6>Title 3</h6>
                        <p>asjkfh asdgjk hasdfgjklh dsfh asdkljfhd gjkaslhgjk ashdfjklsdhasjkldfh dsakjldghsdkj hsadkfjhsdfklj</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <img class="project_img" src="~/img/naruto.png" alt="project image">
                    </div>
                    <div class="col">
                        <h6>Title 4</h6>
                        <p>asjkfh asdgjk hasdfgjklh dsfh asdkljfhd gjkaslhgjk ashdfjklsdhasjkldfh dsakjldghsdkj hsadkfjhsdfklj</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</body>
</html>